<!-- Begin: Page Footer -->
<footer id="content-footer" class="affix">
	<div class="row">
	  <div class="col-md-6">
	    <span class="footer-legal">Catalogo constructor</span>
	  </div>
	  <div class="col-md-6 text-right">
	    <span class="footer-meta">Desarrollado por <a href="http://tuciudad.cl/">tuciudad.cl</a></span>
	    <a href="#content" class="footer-return-top">
	      <span class="fa fa-arrow-up"></span>
	    </a>
	  </div>
	</div>
</footer>
<!-- End: Page Footer -->