<!-- <ul class="nav navbar-nav navbar-left">
  <li class="dropdown menu-merge hidden-xs">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown
      <span class="caret caret-tp"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </li>
  <li class="hidden-xs">
    <a class="request-fullscreen toggle-active" href="#">
      <span class="ad ad-screen-full fs18"></span>
    </a>
  </li>
</ul> -->