<!--Start: Header -->
<header class="navbar navbar-fixed-top navbar-shadow">
  <div class="navbar-branding">
    {% include 'AdminBundle:layouts:header_logo.html.twig' %}
    <span id="toggle_sidemenu_l" class="ad ad-lines"></span>
  </div>
  {% include 'AdminBundle:layouts:header_menu_left.html.twig' %}
  {% include 'AdminBundle:layouts:header_search.html.twig' %}

  {% include 'AdminBundle:layouts:header_menu_right.html.twig' %}  
</header>
<!-- End: Header