Start: Sidebar -->
<aside id="sidebar_left" class="nano nano-light affix">

  <!-- Start: Sidebar Left Content -->
  <div class="sidebar-left-content nano-content">
  
    {# include 'AdminBundle:layouts:menu_left_head.html.twig' #}

    <!-- Start: Sidebar Menu -->
    <ul class="nav sidebar-menu">
      <li class="sidebar-label pt20">Catalogo</li>
      {% for categoria in menu_categorias %}
        <li class="active">
          <a class="accordion-toggle" href="#">
            <span class="glyphicon glyphicon-folder-open"></span>
            <span class="sidebar-title">{{ categoria.nombre }}</span>
            {% if categoria.sub is defined %}<span class="caret"></span>{% endif %}
          </a>
          {% if categoria.sub is defined %}
            <ul class="nav sub-nav">
              {% for sub_categoria in categoria.sub %}
              <li>
                <a href="admin_forms-elements.html">
                  <span class="glyphicon glyphicon-file"></span> {{ sub_categoria.nombre }}</a>
              </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
      <li>
        <a href="#" data-toggle="modal" data-target="#modal_nueva_categoria">
          <span class="fa fa-plus text-success"></span>
          <span class="sidebar-title text-success">Agregar categoría</span>
          <!-- <span class="sidebar-title-tray">
            <span class="label label-xs bg-success">nuevo</span>
          </span> -->
        </a>
      </li>

  </div>
  <!-- End: Sidebar Left Content -->

</aside>
<!-- End: Sidebar Left